<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <header class="navber navber-fixed-top navber-inverse">
     <div class="container">
      <nav class="navber-left">
      <span>Bookers</span></nav>
      <nav>
      <ul class="navber-right">
    <% if user_signed_in? %>

        <%= link_to user_path(current_user), class: "my-bt" do%><i class="glyphicon glyphicon-home"></i> Home<% end %>

        <%= link_to users_path, class: "my-bt" do%><i class="glyphicon glyphicon-user"></i> Users<% end %>

        <%= link_to books_path, class: "my-bt" do%><i class="glyphicon glyphicon-book"></i> books<% end %>

        <%= link_to destroy_user_session_path, method: :delete, class: "my-bt" do%><i class="glyphicon glyphicon-log-out"></i> logout<% end %>

    <% else %>
        <%= link_to "http://localhost:3000", class: "my-bt" do%><i class="glyphicon glyphicon-home"></i> Home<% end %>

        <%= link_to "http://localhost:3000/home/about", class: "my-bt" do%><i class="glyphicon glyphicon-link"></i> About<% end %>

        <%= link_to new_user_registration_path, class: "my-bt" do%><i class="glyphicon glyphicon-edit"></i> sign up<% end %>

        <%= link_to new_user_session_path, class: "my-bt" do%><i class="glyphicon glyphicon-log-in"></i> login<% end %>

    <% end %>
    </ul>
    </nav>
  </div>
  </header>
  <%= yield %>
  <footer>
   <div class="col-xs-3 col-xs-offset-9">CopyRight Infratop.inc
   </div>
  </footer>
  </body>
</html>
